@font-face {
    font-family: Arial;
    src:url(../fonts/Arial.ttf);
}

@font-face {
    font-family: MyriadPro;
    src:url(../fonts/Myriad-pro.otf);
}

@font-face {
    font-family: MyriadProReg;
    src:url(../fonts/Myriad-pro-reg.ttf);
}

body{
  background-image: url(../img/fon.png);
  font-family: Arial;
}

.mainbox{
  height: 1024px;
  width: 1024px;
  margin:0 auto;
  }

.photo{
  padding-left: 25%
}

.name{
  font-size: 26pt;
  font-family: Arial;
}

.headline{
  font-size: 16pt;
  font-family: MyriadPro;
  }

.simpletext{
  font-size: 12pt;
  font-family: MyriadProReg;
  padding-left: 5%
}

.aboutme{
  font-size: 14pt;
  font-family: Arial;
  padding-left: 5%
}
